@charset "utf-8";
/* CSS Document */
/*重置*/
*{ margin:0; padding:0;}
a{ text-decoration:none; color:inherit;}
li{ list-style:none;}
img{ border:none;}
input{ outline:none;}
/*top*/
body{ background-color:#f3ede1;}
.top{ width:1000px; overflow:hidden; margin:0 auto;}
.top_01{ background-image:url(images/index_01.jpg); float:left; width:364px; height:58px; margin:20px 0;}
.top_02{ background-image:url(images/index_02.jpg); width:246px; height:48px; float:right;margin:25px 0;}
/*nav*/
.nav{ width:100%; height:48px; background-color:#8f6431; color:white; font-size:16px;}
.nav_01{ width:1000px;margin:0 auto;background-color:#5c3403;}
.nav ul{ overflow:hidden;}
.nav li{ float:left; line-height:48px; text-align:center; width:124px;  border-right:solid 1px #8f6431;}
.nav a:hover{ background-image: url(images/nav_hover.jpg); width:124px; height:48px; display:block; color:#8f6431;}
/*轮播图*/
.index_banner{position:relative;height:430px; width:100%; margin:0 auto;}
.index_banner li{position:absolute;top:0;left:0;overflow:hidden;width:100%;height:430px;}
.index_banner li.first{background: url(images/first.jpg) center top no-repeat;}
.index_banner li.second{background: url(images/second.jpg) center top no-repeat;}
.index_banner li.third{background:url(images/third.jpg) center top no-repeat;}
.index_banner li a{display:block;margin:0 auto;width:1000px;height:430px;}
.index_banner cite{position:absolute;z-index:999;display:block;width:72px;height:14px;_display:none;bottom:10px; left:50%; margin-left:-36px;}
.index_banner cite span{float:left;display:block;margin:0 5px;width:14px;height:14px; border-radius:100px;background-color:#8f6332;text-indent:-999em;opacity:.8;cursor:pointer;}
.index_banner cite span:hover{background-color:#5a3403;}
.index_banner cite span.cur{background-color:#5a3403;cursor:default;}
/*小轮播图*/
.dt{ width:1000px; margin:10px auto 0;}
.dt_00{ overflow:hidden;}
.dt_k{ width:271px; height:317px; border: solid 1px #dad7d2; background-color:white; float:left;}
.dt_banner{position:relative;height:313px; width:267px; margin:2px;}
.dt_banner li{position:absolute;top:0;left:0;overflow:hidden;width:100%;height:313px;}
.dt_banner li.first{background: center top no-repeat;}
.dt_banner li.second{background:center top no-repeat;}
.dt_banner li.third{background:center top no-repeat;}
.dt_banner li.fourth{background:center top no-repeat;}
.dt_banner li.fifth{background:center top no-repeat;}
.dt_banner li a{display:block;margin:0 auto;width:267px;height:313px;}
.dt_banner cite{position:absolute;z-index:999;display:block;width:155px;_display:none;bottom:7px; right:12px;}
.dt_banner cite span{float:left;display:block;margin:0 5px;width:19px;height:6px;background-color:white; opacity:0.8;}
.dt_banner cite span:hover{background-color:#f69753;}
.dt_banner cite span.cur{background-color:#f69753;}
/*动态*/
.dt_center{ width:405px; height:317px; background-color:white; float:left; border:solid 1px #dad7d2; margin-left:10px; font-size:14px;}
.dt_center ul{ overflow:hidden; margin:2px 2px 0; line-height:37px;}
.dt_center_01{ background-image: url(images/index_05.jpg);text-align:center; width:131px; float:left; font-weight:bold; color:white;}
.dt_center_02{ float:right; margin-right:10px; color:#5c3202;}
.dt_center_02:hover{ text-decoration:underline;}
.dt_01{ width:399px; height:1px; background-color:#8f6431; margin:-1px 2px 0;}
.dt_02{ color:#5c3403; margin-top:16px; text-align:center; font-weight:bold;}
.dt_03{font-size:12px;color:#6a6a6a; width:360px; margin:12px auto 0; line-height:21px; border-bottom: dotted 1px #b9b9b9; padding-bottom:5px;}
.dt_03 span{ color:#ea8432;}
.dt_04{ color:#494949; margin:20px 0 0 18px; line-height:28px;}
.dt_04 span{color:#ea8432;}
.dt_04 a:hover{ text-decoration:underline;}
/*最右侧*/
.dt_05{ float:left; margin-left:10px; width:298px; height:317px; background-color:white; border: solid 1px #dad7d2;}
.dt_05 img{margin:2px;}
/*颐康专家*/
.dt_06{width:998px; overflow:hidden; border:solid 1px #dad7d2; background-color:white; margin-top:10px;}
.dt_07{ background-color:#eae2d8; width:996px; height:50px; margin:1px 1px 0; color:#5c3303;font-family:"微软雅黑"; font-size:24px;font-weight:bold; line-height:50px; border-bottom:solid 2px #ddd1c2;}
.dt_08{ float:left; background-image:url(images/index_07.jpg); width:30px; height:50px;}
.dt_09{ float:right; background-image:url(images/index_08.jpg); width:30px; height:50px;}
.dt_10{ overflow:hidden; margin:10px;}
.dt_11{float:left;}
.none{ display:none;}
.dt_12{ float:right; margin-left:20px;color:#494949; font-size:14px; width:698px}
.dt_13{font-family:"微软雅黑";font-size:24px;color:#252525; margin-top:10px;width:698px; border-bottom: dashed 1px #b9b9b9; padding-bottom:9px;}
.dt_13 a{ font-family:"宋体"; font-size:14px; color:white;width:102px; height:30px; background-image:url(images/index_10.jpg); display: block; line-height:30px; text-align:center; float:right;}
.dt_14{ width:698px; line-height:24px; margin-top:5px; border-bottom: dashed 1px #b9b9b9; padding-bottom:5px;}
.dt_14 span{ font-weight:bold;}
.dt_15{ width:960px; overflow:hidden; background-color:#f3ede1; margin:0 auto 10px; padding:0 10px;}
.dt_15 img{margin:20px 10px; float:left;}
/*科室导航*/
.dt_16{ overflow:hidden;font-size:14px; margin:20px 3px;}
.dt_17{border:solid 1px #b49570; float:left; width:122px;}
.dt_17 img{ float:left;}
.dt_18{ width:122px; height:27px; background-color:#eee5da;line-height:27px; text-align:center; float:left;}
/*诊疗中心环境*/
.dt_19{ overflow:hidden; margin:10px 9px;}
.dt_19 img{ border:solid 1px white;}
.dt_20{ float:left; width:289px;}
.dt_20 img{ float:left}
.dt_21{ float:left; width:202px;}
.dt_21 img{ float:left;}
.dt_22{ float:left;}
/*footer*/
.footer{ width:100%; background-color:#8f6431; text-align:center; line-height:24px; font-size:12px; margin-top:10px; padding:24px 0; color:white;}
/*医院简介*/
.gk{ overflow:hidden; margin:20px;}
.gk_01{ width:706px; font-size:14px; color:#484848; line-height:24px; float:left;}
.gk_02{ width:222px; height:246px; float:left; border:solid 1px #dcdcdc; padding:2px;}
.gk_03{ width:100%; background-color:#eae2d8; padding:4px; overflow:hidden;}
.gk_04{width:300px; height:89px; background-color:white; line-height:24px; font-size:14px; color:#252525; text-align:center; padding-top:15px; float:left; margin:15px;}
.gk_04 span{ font-weight:bold;}
.gk_05{ font-size:14px; margin:20px;}
.gk_06{ background-image: url(images/gk_05.jpg); width:870px; height:518px; margin:10px auto;}
.gk_07{ font-size:14px; margin:0 0 20px 20px;}
.gk_07 span{color:#cd272b;}
.gk_08{ font-size:14px; margin:10px auto;width:990px; overflow: hidden;}
.gk_09{ width:300px; float:left; margin:10px 15px;}
.gk_09 img{ float:left;}
.gk_10{ width:300px; height:42px; text-align:center; line-height:42px; background-color:#fceedb; float:left;}
/*医院动态*/
.gk_11{ margin:10px 20px; overflow:hidden; font-size:14px;}
.gk_12{ width:440px; float:left;}
.gk_13{ overflow:hidden; border-bottom:dashed 1px #dfdfdf; padding:10px 0;}
.gk_13 img{ float:left;}
.gk_14{ float:right; width:290px;}
.gk_14 .ziti_01{ color:#ea8432; margin-bottom:8px;}
.gk_14 .ziti_02{ color:#252525; margin-bottom:16px; font-size:18px; font-family:"微软雅黑";}
.gk_14 .ziti_03{ font-size:12px; color:#969696;}
.gk_14 .ziti_02:hover{ text-decoration:underline;}
.gk_15{ margin:5px 0; border-bottom:dashed 1px #dfdfdf; overflow:hidden; padding-bottom:5px;}
.gk_15 .ziti_01{ color:#ea8432;}
.gk_15 .ziti_02{ font-size:16px; font-family:"微软雅黑"; margin-left:10px;}
.gk_15 .ziti_03{ color:#969696; float:right; line-height:24px;}
.gk_15 .ziti_02:hover{ text-decoration:underline;}
.gk_16{ float:right;}
/*专家医师*/
.zt_01{ font-size:14px; color:#252525; overflow:hidden; margin:10px 3px;}
.zt_02{ width:200px; margin:10px 24px; overflow:hidden; float:left;}
.zt_02 img{ float:left;}
.zt_03{ float:left; line-height:20px; width:180px; height:56px; background-color:#fbeedb; padding:10px}
.zt_03{ font-size:12px;}
/*科室导航*/
.kd{ text-align:center; line-height:36px; width:200px; background-color:#fbeedb;}
/*特色颐康*/
.ty_01{ overflow:hidden; margin:20px 12px;}
.ty_02{ float:left; margin:0 8px; border:solid 1px #dedede;}
.ty_03{ width:469px; height:222px;}
.ty_03 img{ margin:3px;}
.ty_04{ width:440px;font-size:14px; margin:10px auto; color:#252525;line-height:20px;}
/*医院环境*/
.yh_01{ overflow:hidden; margin:10px 4px;}
.yh_01 img{ float:left; margin:10px 15px;}
/* 患者服务*/
.hf_01{ font-size:14px; color:#252525; margin:20px 18px; overflow: hidden;}
.hf_01 img{ float:left;margin:0 auto;}
.hf_02{ margin-top:10px; float:left;}
.hf_02 span{ color:#af0103; font-size:24px; font-family:Arial, Helvetica, sans-serif;}
.hf_03{ font-size:14px; color:#252525; margin:20px; overflow:hidden;}
.hf_04{width:298px; line-height:24px; float:left;}
.hf_04 .ziti_01{ font-weight:bold; color:#5c3303;}
.hf_04 .ziti_02{ font-weight:bold;}
.hf_05{ width:640px; height:540px; border:solid 2px #c9c2bb; float:right;}
/*科室简介*/
.kj_01{ font-size:14px; margin:20px; overflow:hidden; color:#252525;}
.kj_02{ width:290px; height:190px;border:solid 1px #dcdcdc; float:left;}
.kj_02 img{ margin:2px;}
.kj_03{ width:648px; line-height:24px; float:right;}
.kj_04{ font-size:14px; color:#252525; margin:20px 13px; line-height:24px;overflow:hidden;}
.kj_04 img{margin:0 7px; float:left;}
.kj_05{ line-height:24px; margin-top:200px;}
/*医师简介*/
.yj_01{ font-size:14px;color:#252525px; overflow: hidden; margin:20px;}
.yj_02{ width:307px; height:198px; border:solid 1px #dedede; float:left;}
.yj_02 img{ margin:2px;}
.yj_03{ float:right; width:626px; line-height:24px;}
.yj_03_01{ line-height:24px;margin-top:216px;}
.yj_03 span{ font-weight:bold;}
.dt_07 .ziti_01{ background-image:url(images/zcy_09.jpg); margin:9px 0; width:32px; height:32px; float:right; margin-right:10px;}
.dt_07 .ziti_02{ font-size:16px; float:right; margin-right:10px;}
.dt_07 .ziti_03{ font-size:16px; color:#af0004; font-family:Arial, Helvetica, sans-serif; float:right;}
.yj_04{ margin:20px auto; width:962px;}
.yj_05{ margin:20px 1px; overflow:hidden;}
.yj_05 img{ border:solid 1px #dcdcdc; float:left; margin:0 3px;}
/*实践活动时间表*/
.sj_01{ margin:20px; font-size:14px; color:252525px;}
.sj_02{ font-family:"微软雅黑"; font-size:24px; margin-bottom:15px;}
.sj_03{color:#969696;}
.sj_04{ width:962px;margin-top:10px;}
.sj_05{ font-size:12px; color:#969696; margin-top:10px;}
.sj_05 span{ color:#ea8432;}
.sj_06{ margin-top:10px;}
.sj_06 span{ color:#af0103; font-size:24px; font-family:Arial, Helvetica, sans-serif;}
/*活动页面*/
.hd_01{ margin:20px 0 100px; color:#252525; line-height:24px;}